<!-- s Carousel -->
<div class="owl-carousel owl-theme" style="margin-top: 2px; border-bottom: 2px solid #E8E8E8;">
<% for(var i=0; i<imgs.length; i++) { %>
<div class="item"><img class="tooltip" src="http://7xr4ey.com1.z0.glb.clouddn.com/<%=imgs[i].key%>?imageView2/1/w/120/h/120" data-qiniu-url="http://7xr4ey.com1.z0.glb.clouddn.com/<%=imgs[i].key%>"></div>
<% } %>
</div>
<!-- e Carousel -->
